<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Home</a>
        <span class="breadcrumb-item active">Shop List</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">
      <!-- Price Start -->
      <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Price</span></h5>
      <div class="bg-light p-4 mb-30">
        <h6> {{rangeValues[0] | number: '2.'}} đ - {{rangeValues[1] | number: '2.'}} đ </h6>
        <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="100000" [max]="10000000" [step]="100000"
          (onSlideEnd)="navigateToPrice()"></p-slider>
        <!-- <form>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                      <input type="checkbox" class="custom-control-input" checked id="price-all">
                      <label class="custom-control-label" for="price-all">All Price</label>
                      <span class="badge border font-weight-normal">1000</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                      <input type="checkbox" class="custom-control-input" id="price-1" (change) ="navigateToPrice(500000,1000000)">
                      <label class="custom-control-label" for="price-1">0 - 100</label>
                      <span class="badge border font-weight-normal">150</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                      <input type="checkbox" class="custom-control-input" id="price-2">
                      <label class="custom-control-label" for="price-2">100 - $200</label>
                      <span class="badge border font-weight-normal">295</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                      <input type="checkbox" class="custom-control-input" id="price-3">
                      <label class="custom-control-label" for="price-3">$200 - $300</label>
                      <span class="badge border font-weight-normal">246</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                      <input type="checkbox" class="custom-control-input" id="price-4">
                      <label class="custom-control-label" for="price-4">$300 - $500</label>
                      <span class="badge border font-weight-normal">145</span>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                      <input type="checkbox" class="custom-control-input" id="price-5">
                      <label class="custom-control-label" for="price-5">$400 - $500</label>
                      <span class="badge border font-weight-normal">168</span>
                  </div>
              </form> -->
      </div>
      <!-- Price End -->

      <!-- Color Start -->
      <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Color</span></h5>
      <div class="bg-light p-4 mb-30">
        <form>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input radio-checkbox" checked id="color-all"
              (change)="navigateToFoo('')">
            <label class="custom-control-label" for="price-all">All Color</label>
            <span class="badge border font-weight-normal">1000</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input radio-checkbox" id="color-1"
              (change)="navigateToFoo('Black')">
            <label class="custom-control-label" for="color-1">Black</label>
            <span class="badge border font-weight-normal">150</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input radio-checkbox" id="color-2"
              (change)="navigateToFoo('White')">
            <label class="custom-control-label" for="color-2">White</label>
            <span class="badge border font-weight-normal">295</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input radio-checkbox" id="color-3"
              (change)="navigateToFoo('Red')">
            <label class="custom-control-label" for="color-3">Red</label>
            <span class="badge border font-weight-normal">246</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-4" (change)="navigateToFoo('Blue')">
            <label class="custom-control-label" for="color-4">Blue</label>
            <span class="badge border font-weight-normal">145</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-5" (change)="navigateToFoo('Green')">
            <label class="custom-control-label" for="color-5">Green</label>
            <span class="badge border font-weight-normal">168</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="checkbox" class="custom-control-input" id="color-6" (change)="navigateToFoo('other')">
            <label class="custom-control-label" for="color-6">Other</label>
            <span class="badge border font-weight-normal">168</span>
          </div>
        </form>
      </div>
      <!-- Color End -->

      <!-- Size Start -->
      <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Size</span></h5>
      <div class="bg-light p-4 mb-30">
        <form>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="size-all">
            <label class="custom-control-label" for="size-all" (change)="navigateToSize(0)">All Size</label>
            <span class="badge border font-weight-normal">1000</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-1">
            <label class="custom-control-label" for="size-1" (change)="navigateToSize(36)">36</label>
            <span class="badge border font-weight-normal">150</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-2" (change)="navigateToSize(37)">
            <label class="custom-control-label" for="size-2">37</label>
            <span class="badge border font-weight-normal">295</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-3" (change)="navigateToSize(38)">
            <label class="custom-control-label" for="size-3">38</label>
            <span class="badge border font-weight-normal">246</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-4" (change)="navigateToSize(39)">
            <label class="custom-control-label" for="size-4">39</label>
            <span class="badge border font-weight-normal">145</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-5" (change)="navigateToSize(40)">
            <label class="custom-control-label" for="size-5">40</label>
            <span class="badge border font-weight-normal">168</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-6" (change)="navigateToSize(41)">
            <label class="custom-control-label" for="size-6">41</label>
            <span class="badge border font-weight-normal">168</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="checkbox" class="custom-control-input" id="size-7" (change)="navigateToSize(42)">
            <label class="custom-control-label" for="size-7">42</label>
            <span class="badge border font-weight-normal">168</span>
          </div>

        </form>
      </div>
      <!-- Size End -->
    </div>
    <!-- Shop Sidebar End -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3 fizh">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
              <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
              <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
            </div>
            <div class="ml-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                  data-toggle="dropdown">Sorting</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Latest</a>
                  <a class="dropdown-item" href="#">Popularity</a>
                  <a class="dropdown-item" href="#">Best Rating</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1"
          *ngFor="let item of products | paginate: { itemsPerPage: 6, currentPage: page, totalItems: totalLength }">
          <app-product-display [product]="item"></app-product-display>
        </div>
      </div>
      <div>
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
