<div class="container p-5">
  <form class="passform" [formGroup]="updatePasswordForm" (ngSubmit)="changePassword(updatePasswordForm)">
      <div class="form-group mb-3">
        <input type="password" class="form-control border-light" id="passwordCurrent" formControlName="passwordCurrent" aria-describedby="passwordCurrent" placeholder="Mật khẩu cũ">
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control border-light" id="newpassword" formControlName="password" placeholder="Mật khẩu mới">
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control border-light" id="confirmpassword" placeholder="Nhập lại mật khẩu mới">
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Đổi mật khẩu</button>
  </form>
</div>
